@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback");

@import "tailwindcss/base";
@import "tailwindcss/components";

@import "tailwindcss/utilities";

@font-face {
  font-family: nexa;
  src: url("../assets/Nexa-Heavy.ttf");
}

body {
  font-family: nexa;
}

.mybtn-primary {
  @apply cursor-pointer flex gap-2 items-center justify-center
  px-6 py-2 bg-green-300 text-green-700 border-2 hover:border-green-500 
   rounded-lg hover:bg-opacity-70 transition font-semibold shadow-md text-sm w-full;
}
